.decorated-checkbox input {
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  outline: none;
}

.decorated-checkbox label {
  display: block;
  position: relative;
  min-height: 60px;
  padding: 8px 5px 8px 50px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.decorated-checkbox label::before {
  display: block;
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 2.2em;
  content: '\f096';
  /* icomoon */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.decorated-checkbox input:checked + label::before {
  content: '\f046';
}

.decorated-checkbox input:focus + label {
  background-color: #f2f2f2;
}

.decorated-checkbox input:focus + label:hover,
.decorated-checkbox label:hover {
  background-color: #e6e6e6;
}

.decorated-checkbox input:checked + label {
  background-color: #a0ffa0;
}

.decorated-checkbox input:checked:focus + label {
  background-color: #a8f5a8;
}

.decorated-checkbox input:checked:focus + label:hover,
.decorated-checkbox input:checked + label:hover {
  background-color: #c7fdc7;
}
