<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='payments.png') }}">

	<title>{% block title %}{% endblock %}Payments</title>

	{% if use_cdn %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% else %}
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	{% endif %}
	<link rel="stylesheet" href="{{ url_for('static', filename='icomoon/style.css') }}">
	<script src="{{ url_for('static', filename='iframe.js') }}"></script>

	{% block head %}{% endblock %}
</head>
<body>

{% set active_page = active_page|default('unknown') -%}
{% set no_nav = no_nav|default(False) -%}

	{% if not no_nav %}
		<nav id="page-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ url_for('docs.index') }}">
				<img src="{{ url_for('static', filename='payments.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				Payments
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					{% for name, title in navs.main_nav %}
						<li class="nav-item {% if name == active_page %}active{% endif %}">
							<a class="nav-link" href="{{ url_for(name) }}">{{ title }}</a>
						</li>
					{% endfor %}
					<li class="nav-item {% if 'payments.forget_me' == active_page %}active{% endif %}">
						{% if session %}
							<a class="nav-link" href="{{ url_for('payments.forget_me') }}">Forget me!</a>
						{% else %}
							<a class="nav-link" href="{{ url_for('payments.forget_me') }}">Privacy</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav>
	{% endif %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
