{% extends 'payments/base.html' %}
{% set active_page = 'tester.index' %}

{% from '_bootstrap_form.html' import render_field %}

{% block title %}Create a test payment | {{ super() }}{% endblock %}

{% block head %}
	<script src="{{ url_for('static', filename='tester.js') }}"></script>
{% endblock%}

{% block content %}
	<div class="row mt-4 mb-4">
		<div class="col-12">
			<form id="request-form" method="POST" target="request-frame" action="{{ url_for('tester.post') }}">
				<div class="form-row">
					<div class="col-4">
						<div class="form-group">
							<label for="staticSeller">Seller</label>
							<div class="input-group">
								<input type="text" readonly class="form-control" id="staticSller" value="{{ seller }}">
								{% if 'creator' in apps %}
									<div class="input-group-append">
										<a class="btn btn-outline-secondary" href="{{ url_for('creator.getsid') }}">New</a>
									</div>
								{% endif %}
							</div>
						</div>
						{{ render_field(form.sid) }}
						{{ render_field(form.token) }}
					</div>
					<div class="col-4">
						{{ render_field(form.service) }}
						{{ render_field(form.pid) }}
						{{ render_field(form.amount) }}
					</div>
					<div class="col-4 align-self-end">
						{{ render_field(form.disable_iframe) }}
						{{ render_field(form.use_cookies) }}
						{{ render_field(form.skip_confirm) }}
						<button type="submit" class="btn btn-primary btn-lg btn-block">Create a request</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<iframe id="request-frame" name="request-frame" src="about:blank" height="800" style="width: 100%;"></iframe>
			<p id="request-notice" style="display: none;" class="alert alert-info">The request is will open in a new window.</p>
		</div>
	</div>
{% endblock %}
